@mixin flex($align:center, $justify:center, $wrap:nowrap, $direction: row, $gap:0){
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-wrap: $wrap;
    flex-direction: $direction;
    gap: $gap;
}

// @mixin roundBtn($bgColor) {
//     color: white !important;
//     border-radius: 24px !important;
//     background-color: $bgColor !important;
//     height: 40px !important;
//     padding: 0 4ch !important;
// }
