@import '../styles/mixins';
@import '../styles/variables';

.headerCont {
    background-image:url(/src/assets/background.jpg);
    opacity:0.9;
    width: 100%;
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.logo {
    
    position:fixed;
    display:flex;
    flex-direction: column;
    height: 230px;
    width: 420px;
    top:40px;
    left:40px;
}

.welcomeTitle {
position:fixed;
font-size: 130px;
font-family: Miama;
right: 90px;
top: 250px;
letter-spacing: 9px;
color: $mainBrown;
}

.logoTitle {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:35px;
    text-align:center;
    margin-top:-20px;
    letter-spacing: 11px;
    color: $mainBrown;

}

@media screen and (max-width: 900px) {
    
.headerCont {
    @include flex($direction:column);
    height:350px;
    gap:20px;
    
}

.logo {
    width:250px;
    height:auto;
    position:relative;
    top:0;
    left:0;
}

.logoImg {
    height:130px;
    width:250px;
   
}

.welcomeTitle {
font-size: 70px;
right: 0px;
top: 0;
letter-spacing: 9px;
position:relative;
}

.logoTitle {
    font-size:25px;
    letter-spacing: 4px;
}

}