@import '../../styles/mixins';
@import '../../styles/variables';

.form {
    width:500px;
    padding:15px;
}

.adminBody {
    background-color: #FFECB3;
    margin:0;
    height:820px;
}

.listBtn {
    font-size: 16px;
    border-radius: 14px;
    padding: 1px 12px;
    color:$mainBrown;
    font-weight: 700;
}


.formTitle {
    text-align: center;
    margin:8px;
    font-size: 25px;
    color:$mainBrown;
    font-weight: 700;
    font-family: poppins;
}

.label{
    color:$mainBrown;
    font-family: poppins;
    font-weight: 700;
}

