@import '../../styles/mixins';
@import '../../styles/variables';

.form {
    width:500px;
    padding:15px;
}

.adminBody {
    background-color: #FFECB3;
    margin:0;
    height:820px;
}

.listBtn {
    width:fit-content;
    font-size: 16px;
    font-weight: 700;
    padding: 4px 12px;
    color:$mainBrown;
    border-radius: 8px;
    border: 1px solid $mainBrown;
    
    
}

.listBtn:hover {
    color:white;
    background-color: $mainBrown;
    transition: all 100ms ease-in-out;
}


.formTitle {
    text-align: center;
    margin:8px;
    font-size: 25px;
    color:$mainBrown;
    font-weight: 700;
    font-family: poppins;
}

.label{
    color:$mainBrown;
    font-family: poppins;
    font-weight: 700;
}

.photoCardContainer{
    @include flex($direction:column, $justify:space-around, $gap:10px);
    width:270px;
    height:300px;
    padding: 5px;
    border-radius: 5px;
    background-color:#ffffff;
    
}



